body {
    font-family: 'Times New Roman', Times, serif;
    margin: 30px;
    padding:20px;
    background-color:rgb(212, 207, 201);
}
h1 {
    text-align: center;
    color:rgb(20, 20, 61);

}
form {
    max-width:600px;
    margin: auto;
    background-color: rgb#f0f4f8;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(rgb(104, 49, 49), rgb(143, 230, 143), rgb(121, 121, 202));
    padding: 20px
}
fieldset {
    border:2px solid rgb(100, 122, 122);
    border-radius:8px;
    padding:20px;
    margin-bottom: 20px;
    background-color: rgb(221, 234, 238);
}

legend{
    font-weight:bold;
    text-align: left;
    color: #2c3e50;
}
label{
    display: block;
    margin-top: 10px;
    color: #2c3e50;
}
input,textarea {
    width: calc(100% - 2px);
    padding: 8px;
    margin-top: 3px;
    border: 1px solid rgb(13, 74, 75);
    border-radius:5px;
    box-sizing: border-box;
}
button{
    display: block;
    width:100%;
    padding: 10px;
    background-color: rgb(214, 218, 236);
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
button:hover{
    background-color: #748291;
};
